<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATk485ppqyaM6E97J0mnOSne_btywsc8U</string>
	<key>GCM_SENDER_ID</key>
	<string>1052770902003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snaplor</string>
	<key>PROJECT_ID</key>
	<string>jyotishee-f390d</string>
	<key>STORAGE_BUCKET</key>
	<string>jyotishee-f390d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052770902003:ios:5d8f01947d258e5fc53c86</string>
</dict>
</plist>